// ===========
// Fonts
// ===========

$mainFont: "Inter", sans-serif;

// ===========
// Colors
// ===========

// Light Mode Colors
$headerBgLight: #f5f7ff; //header background
$cardBgLight: #f0f2fa; //card bg
$cardHoverLight: #d8dae6; //card hover
$primaryTextLight: #252a41;
$secondaryTextLight: #66676d;

// Dark Mode Colors
$bgDark: #1f212e; //header background
$cardBgDark: #252a41; //card bg
$cardHoverDark: #373e5d; //card hover
$primaryTextDark: #ffffff;
$secondaryTextDark: #8b97c6;

// Shared Colors
$primaryDarkBlue: #1e202a; //primary text, dark mainBg and toggle circle
$facebook: #198ff5;
$twitter: #1ca0f2;
$instagram: linear-gradient(to right, #fdc468, #df4996);
$youTube: #c4032a;

// stats
$limeGreen: #1db489;
$brightRed: #dc414c;

// Toggler
$toggleBg: linear-gradient(90deg, #378fe6, #3eda82);
