@import "../scss/variables";
@import "../scss/mixins";

body {
  background: $bgDark;
}

.header-container {
  background: $bgDark;

  h1 {
    color: $primaryTextDark;
  }

  p {
    color: $secondaryTextDark;
  }

  .dark-mode {
    color: $primaryTextDark;
  }
}

// ================
// Followers Cards
// ================
.followers-section .card {
  background: $cardBgDark;

  .card-title {
    color: $secondaryTextDark;
  }

  p:first-of-type {
    color: $primaryTextDark;
  }

  p:nth-of-type(2) {
    color: $secondaryTextDark;
  }
}

// ================
// Overview Cards
// ================

h2 {
  color: $primaryTextDark;
}

h3 {
  color: $secondaryTextDark;
}

h5 {
  color: $primaryTextDark;
}

.overview-section .card {
  background: $cardBgDark;
}

// =============
// All Cards
// =============

.card:hover {
  background: $cardHoverDark;
}
