@import "../scss/variables";
@import "../scss/mixins";

.header-container {
  background: $headerBgLight;

  h1 {
    color: $primaryDarkBlue;
  }

  p {
    color: $secondaryTextLight;
  }
}

// ================
// Followers Cards
// ================
.followers-section .card {
  background: $cardBgLight;

  .card-title {
    color: $secondaryTextLight;
  }

  p:first-of-type {
    color: $primaryDarkBlue;
  }

  p:nth-of-type(2) {
    color: $secondaryTextLight;
  }
}

// ================
// Overview Cards
// ================

h2 {
  color: $secondaryTextLight;
}

.overview-section .card {
  background: $cardBgLight;
}

// =============
// All Cards
// =============

.card:hover {
  background: $cardHoverLight;
}
